#### End-to-End Insurance Risk Analytics & Predictive Modeling
* Load Data
* Understand the data
* Do EDA
* Establish a reproducible and auditable data pipeline using Data Version Control (DVC)
* A/B Hypothesis Testing Design and Implimentation
* Build and evaluate predictive models that form the core of a dynamic, risk-based pricing system.

##### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append('..') # Adjust the path to use custom modules if necessary

##### Load the Data

In [3]:
##### Load the Data 
from src.data_loader import load_insurance_data
df=load_insurance_data('../data/insurance.txt')
df.head(3)

d:\FInalProject\End-to-End-Insurance-Risk-Analytics\notebooks\..\src\data_loader.py:55: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep="|", header=0)
d:\FInalProject\End-to-End-Insurance-Risk-Analytics\notebooks\..\src\data_loader.py:81: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors="coerce")

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0