#### End-to-End Insurance Risk Analytics & Predictive Modeling
* Load Data
* Understand the data
* Do EDA
* Establish a reproducible and auditable data pipeline using Data Version Control (DVC)
* A/B Hypothesis Testing Design and Implimentation
* Build and evaluate predictive models that form the core of a dynamic, risk-based pricing system.

##### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append('..') # Adjust the path to use custom modules if necessary

##### Load the Data

In [3]:
##### Load the Data 
from src.data_loader import load_insurance_data
df=load_insurance_data('../data/insurance.txt')
df.head(3)

d:\FInalProject\End-to-End-Insurance-Risk-Analytics\notebooks\..\src\data_loader.py:55: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep="|", header=0)
d:\FInalProject\End-to-End-Insurance-Risk-Analytics\notebooks\..\src\data_loader.py:81: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors="coerce")

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

#### Data Understanding
* check data type of each column
* check missing Values

In [4]:
df.dtypes # check data types of each column

UnderwrittenCoverID                  int64
PolicyID                             int64
TransactionMonth            datetime64[ns]
IsVATRegistered                       bool
Citizenship                         object
LegalType                           object
Title                               object
Language                            object
Bank                                object
AccountType                         object
MaritalStatus                       object
Gender                              object
Country                             object
Province                            object
PostalCode                           int64
MainCrestaZone                      object
SubCrestaZone                       object
ItemType                            object
mmcode                             float64
VehicleType                         object
RegistrationYear                     int64
make                                object
Model                               object
Cylinders                          float64
cubiccapacity                      float64
kilowatts                          float64
bodytype                            object
NumberOfDoors                      float64
VehicleIntroDate            datetime64[ns]
CustomValueEstimate                float64
AlarmImmobiliser                    object
TrackingDevice                      object
CapitalOutstanding                 float64
NewVehicle                          object
WrittenOff                          object
Rebuilt                             object
Converted                           object
CrossBorder                         object
NumberOfVehiclesInFleet            float64
SumInsured                         float64
TermFrequency                       object
CalculatedPremiumPerTerm           float64
ExcessSelected                      object
CoverCategory                       object
CoverType                           object
CoverGroup                          object
Section                             object
Product                             object
StatutoryClass                      object
StatutoryRiskType                   object
TotalPremium                       float64
TotalClaims                        float64
dtype: object

In [5]:
df.isnull().sum() # check for missing values

UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                              0
AccountType                       0
MaritalStatus                     0
Gender                            0
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                          552
VehicleType                       0
RegistrationYear                  0
make                              0
Model                             0
Cylinders                       552
cubiccapacity                   552
kilowatts                       552
bodytype                          0
NumberOfDoors                   552
VehicleIntroDate                552
CustomValueEstimate          779642
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding              322
NewVehicle                        0
WrittenOff                   641901
Rebuilt                      641901
Converted                    641901
CrossBorder                  999400
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64

#### PreProcess our Dataset
* drop columns with >50% missing values
* fill modarate missing value
* convert catagorical columns to catagory dtaypes

In [6]:
# preprocessing dataset to clean snd prepare for analysis
from src.preprocess import preprocess_insurance_data #import custom preprocessing function
df_clean=preprocess_insurance_data(df) #clean the data using custom function
df_clean.head(3)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,LossRatio
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,0.0