# A/B Hypothesis Testing
#### What we Do here:
* using the custom module load the cleaned Data
* Select Metrics with custom module
* Data Segmentation with custom module 
* Statistical Testing with custom module
* see the Results here

In [1]:
# import libraries
import pandas as pd
import numpy as np
import sys
sys.path.append("..")

##### Import and Use Custom Module For A?B Testing

In [2]:
# import module
from src.hypothesis_analysis import run_all

In [3]:
# run the the module
summery=run_all()
summery

d:\FInalProject\End-to-End-Insurance-Risk-Analytics\notebooks\..\src\hypothesis_analysis.py:24: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, parse_dates=[c for c in ["TransactionMonth","VehicleIntroDate"] if c in pd.read_csv(path, nrows=0).columns], dtype={"PostalCode": str})

=== TASK 3 SUMMARY ===
Province frequency chi2: {'chi2': 104.19088107029361, 'p': 5.925510718204678e-19, 'dof': 8}
Province severity kruskal: {'stat': 106.09273218457658, 'p': 2.4146571363417815e-19}
Zipcode overall frequency chi2: {'chi2': 1454.4676095505502, 'p': 3.152172246339058e-30, 'dof': 887}
Gender frequency chi2: {'chi2': 7.255926312995721, 'p': 0.026570248768437145, 'dof': 2}
Gender severity: {'stat': 524.5, 'p': 0.22351273500106295, 'cohen_d': -0.12005124183791252}
Gender margin: {'stat': -0.2513525622000845, 'p': 0.8015464193501283, 'cohen_d': -0.002754307101570186}

Saved outputs to ../data/results/task3

{'province': {'freq_chi2': {'chi2': 104.19088107029361,
   'p': 5.925510718204678e-19,
   'dof': 8},
  'severity_kruskal': {'stat': 106.09273218457658,
   'p': 2.4146571363417815e-19}},
 'zipcode': {'overall': {'chi2': 1454.4676095505502,
   'p': 3.152172246339058e-30,
   'dof': 887},
  'pairwise_top_path': 'zip_pairwise_top.csv'},
 'gender': {'freq_chi2': {'chi2': 7.255926312995721,
   'p': 0.026570248768437145,
   'dof': 2},
  'severity_mw': {'stat': 524.5,
   'p': 0.22351273500106295,
   'cohen_d': -0.12005124183791252},
  'margin_t': {'stat': -0.2513525622000845,
   'p': 0.8015464193501283,
   'cohen_d': -0.002754307101570186}}}

#### Inspect saved results (very important for reporting)

In [4]:
zip_pairwise=pd.read_csv("../data/results/task3/zip_pairwise_top.csv")
zip_pairwise.head()

,zip_a,zip_b,n_a,n_b,count_a,count_b,prop_a,prop_b,prop_diff,prop_z_stat,...,prop_ci_a,prop_ci_b,sev_mw_stat,sev_p,sev_cohen_d,margin_t_stat,margin_p,margin_cohen_d,prop_p_adj,prop_reject
0,2000,122,133498,49171,486,210,0.003641,0.004271,-0.000630,-1.939401,...,"[0.0033314034718709426, 0.003978169550922884]","[0.0037318647899616695, 0.004887206390483752]",56557.5,0.022740,0.034799,1.163915,0.244462,0.006822,1.000000,False
1,2000,7784,133498,28585,486,50,0.003641,0.001749,0.001891,5.054891,...,"[0.0033314034718709426, 0.003978169550922884]","[0.0013271345135403548, 0.0023051028742624054]",10931.5,0.241038,-0.509443,0.310077,0.756504,0.002478,0.000019,True
2,2000,299,133498,25546,486,67,0.003641,0.002623,0.001018,2.531910,...,"[0.0033314034718709426, 0.003978169550922884]","[0.002065925374773393, 0.0033290771360193487]",20228.5,0.001236,0.208110,-2.835145,0.004582,-0.014479,0.510494,False
3,2000,7405,133498,18518,486,29,0.003641,0.001566,0.002074,4.552739,...,"[0.0033314034718709426, 0.003978169550922884]","[0.0010906470931129658, 0.002248192565901783]",5940.5,0.153851,-0.067017,-2.718085,0.006569,-0.013370,0.000238,True
4,2000,458,133498,13775,486,32,0.003641,0.002323,0.001317,2.486676,...,"[0.0033314034718709426, 0.003978169550922884]","[0.0016460783999623534, 0.0032775183351800323]",8563.0,0.335668,-0.035058,-0.835715,0.403326,-0.006399,0.580243,False

In [6]:
gender_claim=pd.read_csv("../data/results/task3/gender_hasclaim_ct.csv")
gender_claim.head()

          Gender       0     1
0         Female    6741    14
1           Male   42723    94
2  Not specified  938324  2666